$score-board-container-background: #000;

.score-board-container {
  color: #fff;
  background: $score-board-container-background;
  height: 5em;
  margin: .25em auto;
  text-align: center;
  margin-top: 5em;
  width: 70em;
  /* width: 80em; */

}

.player-information {
  display: block;
  font-size: 1.5em;
  width: 100%;
  padding: 1em;
  /* text-align: center; */

  li {
    display: inline-block;
    margin: 0 1.5em;
  }
}