.unit-keys {
  margin-top: 1em;
  text-align: center;
  span {
    font-size: 2em;
  }
}

.key {
  margin: 0 1em;
}

.key-enemy {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: red;
}

.key-boss {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: purple;
}

.key-health {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: green;
}

.key-weapon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: yellow;
}